<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Antoine Nouvene">

        <title>{% block title %}Dashboard{% endblock %}</title>

        {% block stylesheets %}

            <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
            <link href="{{ asset('bundles/app/css/toolkit-inverse.min.css') }}" rel="stylesheet" >
            <link href="{{ asset('bundles/app/css/docs.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/css/application.css') }}" rel="stylesheet">

            <style>
                /* note: this is a hack for ios iframe for bootstrap themes shopify page */
                /* this chunk of css is not part of the toolkit :) */
                body {
                    width: 1px;
                    min-width: 100%;
                    *width: 100%;
                }
            </style>

        {% endblock %}
    </head>
    {#<body>#}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/chart.js') }}"></script>
            <script src="{{ asset('bundles/app/js/tablesorter.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/toolkit.js') }}"></script>
            <script src="{{ asset('bundles/app/js/application.js') }}"></script>
            <script>
                // execute/clear BS loaders for docs
                $(function () {
                    while (window.BS && window.BS.loader && window.BS.loader.length) {
                        (window.BS.loader.pop())()
                    }
                })
            </script>
        {% endblock %}
    </body>
</html>